// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.login-box-wrap {
    width: 420px;
    color: #fcfcfc;
    padding: 40px 30px;
    margin: 50px auto 20px;
    border-radius: 8px;
    text-align: center;
  }
  .bg-dark {
      background-position: center;
      background-size: cover;
      background-clip: border-box;
      background-origin: round;
      background-attachment: fixed;
      background-image: url(/images/login-bg.jpg);
      background-repeat: no-repeat;
  }